
---------------------------------------------------

      OTUS LESSON #3-4. SUBJECT: ANSIBLE.

---------------------------------------------------

               IT'S WORKING!

---------------------------------------------------
